body { background-color:#141414;
    text-align: left;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        font-family: 'Plus Jakarta Sans', sans-serif; 
        background-image: url("blackbackground.png") ;
    background-repeat:cover;
    }

.titoloformazione {
    color: white;
    background-color: rgba(165, 32, 32, 0.505);
    width: all;
    height: 70px;
    margin-top: 0%;
    padding-top: 30px;
    padding-left: 20px;
    
}

.menu {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.formazione {
    color: white;
}

.home {
    color: white;
    background-color: #141414;
    border-style:solid;
    border-color: rgba(165, 32, 32, 0.505);
    border-radius: 30px;
    padding: 5px;            
        }
        .formazione1 {
            color: white;
            background-color: #141414;
            border-style:solid;
            border-color: rgba(165, 32, 32, 0.505);
            border-radius: 30px;
            padding: 5px;
        }

        .esperienzelavorative {
            color: white;
            background-color: #141414;
            border-style:solid;
            border-color: rgba(165, 32, 32, 0.505);
            border-radius: 30px;
            padding: 5px;
        }
       
        .altro {
            color: white;
            background-color: #141414;
            border-style:solid;
            border-color: rgba(165, 32, 32, 0.505);
            border-radius: 30px;
            padding: 5px;
        }
       
        .contatti {
            color: white;
            background-color: #141414;
            border-style:solid;
            border-color: rgba(165, 32, 32, 0.505);
            border-radius: 30px;
            padding: 5px;
        }

        .privacy {
            color: rgba(172, 92, 92, 0.301);
            font-size: small;
            margin-left: 20px;

            }

            .footer-text {
                margin-bottom: 0px;
                color: rgba(172, 92, 92, 0.301);
                font-size: smaller;
        
            }

