body { background-color: rgba(0, 0, 0, 0.884);
    text-align: center;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
    

.jessica-vitanza {
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    background-color: rgba(125, 3, 3, 0.901);
    text-align: center;
}

.sport-design {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.su-di-me {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.biografia {
    color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.menu {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.privacy {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: grey;

}
 .footer-text {
     margin-bottom: 0px;
 }
