body { background-color: rgba(0, 0, 0, 0.884);
    text-align: center;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
    

.jessica-vitanza {
    color: rgb(147, 1, 1);
    font-style: oblique;
    text-align: center;
    
}

.sport-design {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(165, 32, 32, 0.505);
    height: 30px;
    padding: 15px;
}

.su-di-me {
    text-align: center;
    color: white;
}

.biografia {
    color: rgb(255, 255, 255);
    text-align: center;
}


.privacy {
    color: rgba(172, 92, 92, 0.301);
    font-size: small;
}
 .footer-text {
     margin-bottom: 0px;
     color: rgba(172, 92, 92, 0.301);
     font-size: smaller;
 }
